@import "tailwindcss";

@theme {
  --font-sans: "Oswald", sans-serif;
}

.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-navbar {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.wavy-corner-bl::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 80px;
  background: radial-gradient(circle at 0 100%, transparent 10px, #0E2A54 10px);
  background-size: 20px 20px;
  background-repeat: repeat;
  pointer-events: none;
  z-index: 10;
}